<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>head</title>
    <link rel="stylesheet/less" href="less/common.less">
</head>
<body>
<header>
    <nav class="nav">
        <div class="nav_logo">
            <h1>
                <a href="index.html">
                    <img src="images/logo.png">
                </a>
            </h1>
        </div>
        <div class="nav_right">
            <div class="nav_log">
                <ul>
                    <% if(username){ %>
                    <li><a href="/exit.do">退出</a></li>
                    <li><a href="/person.do"><%=username%></a></li>
                    <li></li>
                    <li></li>
                    <li><a href="/shoppingCart.do">&#xe624;</a></li>
                    <% }else{ %>
                    <li><a href="/sign.do">注册</a></li>
                    <li>|</li>
                    <li><a href="/logo.do">登录</a></li>
                    <li><a href="/shoppingCart.do">&#xe624;</a></li>
                    <% } %>
                </ul>
            </div>
            <div class="nav_bar">
                <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="huaping.html">花瓶</a></li>
                    <li><a href="chaju.html">茶具</a></li>
                    <li><a href="baijian.html">摆件</a></li>
                    <li><a href="baokuan.html"><span>&#xe689;</span>爆款推荐</a></li>
                    <li><a href="brandstory.html">品牌故事</a></li>
                    <li><a href="musem.html">艺术馆</a></li>
                    <li>
                        <div class="search">
                            <span><a href="#">&#xe634;</a></span>
                            <input type="text" placeholder="输入搜索内容">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script src="js/less.min.js" type="text/javascript"></script>
</body>
</html>