<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>摆放推荐</title>
    <link rel="stylesheet/less" href="../public/less/baifangtuijian.less">
</head>
<body>
<%-include head.html %>
<section>
    <div class="bf_banner">
        <div class="bf_title">
            <p><span>摆</span> <span>放 </span><span>推</span> <span>荐 </span></p>
        </div>
    </div>
</section>
<section>
    <div class="custom_design">
        <div class="custom_bt">
            <img src="../public/images/head_icon.png">
            <p>客户<span>&#xe71e;</span>设计</p>
        </div>
    </div>
    <div class="custom_left">
        <img id="custom_updata" src="../public/images/baifang_custom_1.png">
        <div class="custom_upload">
            <form action="" enctype="multipart/form-data">
                <input id="updataImg" type="file" accept=".jpg,.png,.jpeg,.bmp">
                <div>
                    <img id="clickImg" src="../public/images/updata.png">
                </div>
            </form>
        </div>
        <button id="bf_cancel">取消</button>
    </div>
    <div class="custom_right">
        <div class="custom_right-top">
            <ul>
                <li>
                    <span>&#xe69d;</span>
                    <p>花瓶</p>
                </li>
                <li>
                    <span>&#xe69e;</span>
                    <p>茶具</p>
                </li>
                <li>
                    <span>&#xe6b1;</span>
                    <p>挂件</p>
                </li>
            </ul>
        </div>
        <div class="custom_right_bottom-huaping" id="huaping">
            <ul>
                <li>
                    <img src="../public/images/<%= isrc[0] %>">
                    <p><%=itext[0]%></p>
                    <i><span>&#xe61c;</span><span>&#xe642;</span></i>
                </li>
                <li>
                    <img src="../public/images/<%= isrc[1] %>">
                    <p><%=itext[1]%></p>
                    <i><span>&#xe61c;</span><span>&#xe642;</span></i>
                </li>
                <li>
                    <img src="../public/images/<%= isrc[2] %>">
                    <p><%=itext[2]%></p>
                    <i><span>&#xe61c;</span><span>&#xe642;</span></i>
                </li>
                <li>
                    <img src="../public/images/<%= isrc[3] %>">
                    <p><%=itext[3]%></p>
                    <i><span>&#xe61c;</span><span>&#xe642;</span></i>
                </li>
                <li>
                    <img src="../public/images/<%= isrc[4] %>">
                    <p><%=itext[4]%></p>
                    <i><span>&#xe61c;</span><span>&#xe642;</span></i>
                </li>
                <li>
                    <img src="../public/images/<%= isrc[5] %>">
                    <p><%=itext[5]%></p>
                    <i><span>&#xe61c;</span><span>&#xe642;</span></i>
                </li>
            </ul>
        </div>
        <div class="custom_right_bottom-chaju" id="chaju">
            <ul>
                <li>
                    <img src="" alt="">
                    <p></p>
                    <i><span>&#xe61c;</span><span>&#xe642;</span></i>
                </li>
                <li>
                    <img src="" alt="">
                    <p></p>
                    <i><span>&#xe61c;</span><span>&#xe642;</span></i>
                </li>
                <li>
                    <img src="" alt="">
                    <p></p>
                    <i><span>&#xe61c;</span><span>&#xe642;</span></i>
                </li>
                <li>
                    <img src="" alt="">
                    <p></p>
                    <i><span>&#xe61c;</span><span>&#xe642;</span></i>
                </li>
                <li>
                    <img src="" alt="">
                    <p></p>
                    <i><span>&#xe61c;</span><span>&#xe642;</span></i>
                </li>
                <li>
                    <img src="" alt="">
                    <p></p>
                    <i><span>&#xe61c;</span><span>&#xe642;</span></i>
                </li>
            </ul>
        </div>
        <div class="custom_right_bottom-baijiang" id="baijiang">
            <ul>
                <li>
                    <img src="">
                    <p></p>
                    <i><span>&#xe61c;</span><span>&#xe642;</span></i>
                </li>
                <li>
                    <img src="">
                    <p></p>
                    <i><span>&#xe61c;</span><span>&#xe642;</span></i>
                </li>
                <li>
                    <img src="">
                    <p></p>
                    <i><span>&#xe61c;</span><span>&#xe642;</span></i>
                </li>
                <li>
                    <img src="">
                    <p></p>
                    <i><span>&#xe61c;</span><span>&#xe642;</span></i>
                </li>
                <li>
                    <img src="">
                    <p></p>
                    <i><span>&#xe61c;</span><span>&#xe642;</span></i>
                </li>
                <li>
                    <img src="">
                    <p></p>
                    <i><span>&#xe61c;</span><span>&#xe642;</span></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</section>
<section>
    <div class="baifang_case">
        <div class="custom_bt">
            <img src="../public/images/head_icon.png">
            <p>经典<span>&#xe71e;</span>案例</p>
        </div>
    </div>
    <div class="ClassicCase">
        <div>
            <p>

            </p>
            <p>

            </p>
            <p>

            </p>
        </div>
        <p>希维尔洛夫斯基·劳</p>
    </div>
</section>
<section>
    <div class="laiyinyuan">
        <div class="lyy_left">
            <p>
                约 翰 · 加 利 亚 诺
            </p>
        </div>
        <div class="lyy_right">
            <p>
            </p>
            <p>
            </p>
        </div>
    </div>
</section>
<section>
    <div class="cftx">
        <div class="cftx_left">
            <p>
            </p>
            <p>
            </p>
            <p>
            </p>
        </div>

        <div class="cftx_right">
            <p>瓦伦丁尤达什金</p>
        </div>
    </div>

</section>
<%-include footer.html %>
<script src="../public/js/less.min.js"></script>
<script src="../public/js/jquery-1.11.3.js"></script>
<script src="../public/js/jquery.mousewheel.min.js"></script>
<script src="../public/js/zoom-marker.js"></script>
<script src="../public/js/baifangtuijian.js"></script>
</body>
</html>